<div class="new-question-content">
  <div class="navigation-item col-xl-12">
    <a class="navigation-back" routerLink="/">
      <img src="../../assets/img/round-reply-24px.svg" />
    </a>
  </div>
  <div class="information-question">
    <h1 class="information-question-header">{{ 'setup-feedback-tool' | translate }}</h1>
    <div class="information-question-information">
      <p>{{ 'setup-feedback-tool-desc' | translate }}</p>
    </div>
  </div>
  <div class="question-form">
    <form id="question-body" #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="onSubmit(f);false" novalidate>
      <h2>{{ 'question' | translate }}</h2>
      <textarea class="question-text" name="new-question" ngModel required #first="ngModel" id="question-area"></textarea>
      <h2 class="feedback-position">{{ 'feedbacktool-position' | translate }}</h2>
      <div class="custom-control custom-radio">
        <input id="position-right" type="radio" class="custom-control-input" [value]="false" name="position" ngModel>
        <label class="custom-control-label" for="position-right">{{ 'feedbacktool-position-right' | translate }}</label>
      </div>
      <div class="custom-control custom-radio">
        <input id="position-bottom" type="radio" class="custom-control-input" [value]="true" name="position" ngModel>
        <label class="custom-control-label" for="position-bottom">{{ 'feedbacktool-position-bottom' | translate }}</label>
      </div>
    </form>
    <div class="transition-msg" id="error-message">
      <div class="error-label" id="need">
        {{ 'question-required' | translate }}
      </div>
    </div>
  </div>
</div>
<footer class="new-question-footer">
  <div class="new-question-footer-buttons">
      <button class="tieto-button cancel" routerLink="" routerLinkActive="active">{{ 'cancel' | translate }}</button>
      <button form="question-body" class="tieto-button submit">{{ 'submit' | translate }}</button>
  </div>
</footer>