.new-question-content {
  min-height: 85vh;
  max-width: 37.5rem;
}

.navigation-item {
  height: 2.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
  & > a {
    & > img {
      padding: 0.5rem;
    }
  }
}

.error-label {
  background-color: #d9135c;
  color: white;
  padding: 0.1875rem 0.9375rem 0.1875rem 0.9375rem;
  margin-top: -0.3125rem;
  float: left;
  border-radius: 0.375rem;
  display: none;
}

.information-question {
  display: flex;
  flex-direction: column;
  padding-top: 2.9375rem;
  padding-left: 3.125rem;
  &-header {
    text-align: left;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }
  &-information {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }
}

.website-form {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  padding-left: 3.125rem;
  padding-bottom: 1.0rem;
  & div.domain-wrapper, div.question-wrapper {
    & p#input-heading {
      font-weight: 700;
      font-size: 0.875rem;
      color: #333333;
      opacity: 1;
      margin-bottom: .25rem;
    }
  }
  & div.domain-wrapper {
    & .domain-input {
      resize: none;
      overflow: hidden;
      height: 2rem;
      font-size: 1rem;
      font-weight: 400;
      min-width: 15rem;
      max-width: 33.75rem;
      width: 20vw;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0.0625rem solid #cccccc;
      border-radius: 0.375rem;
      opacity: 1;
    }
  }
  & div.question-wrapper {
    padding-top: 1.7rem;
    & .question-input {
      resize: none;
      height: 15rem;
      font-size: 1rem;
      font-weight: 400;
      min-width: 15rem;
      max-width: 33.75rem;
      width: 50vw;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0.0625rem solid #cccccc;
      border-radius: 0.375rem;
      opacity: 1;
    }
  }
}

.new-question-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5.625rem;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #ffffff;
  opacity: 1;
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.25rem;
  }
}

.tieto-button {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  width: 11.5625rem;
  height: 2.8125rem;
}