@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* You can add global styles to this file, and also import other style files */
.card {
  border-style: solid;
  border-width: 2px;
  border-color: #0e76b7;
  position: relative;
  border-bottom-style: none;
  border-radius: 12px 0 0 0;
  width: 100%;
}

.collapsing {
  overflow: visible;
}

.btn:hover {
  box-shadow: 0 0 5px 1px #878787;
}

.btn:focus {
  box-shadow: 0 0 5px 1px #878787;
}

.img-exit {
  margin-top: 2px;
  background-image: url(../../../assets/img/exit.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  float: right;
  transition: all 0.4s ease;
  opacity: 0;
}

.btn#marking-bar {
  width: 220px;
  height: 40px;
  outline: transparent;
  background-color: #0e76b7;
  border-style: none;
  font-size: 16px;
  float: right;
  border-radius: 15px 15px 0 0;
  color: #fff;
}

  .btn#marking-bar:focus {
    box-shadow: none;
    color: #fff;
  }

  .btn#marking-bar:hover {
    box-shadow: 0 0 10px 1px #878787;
    color: #fff;
  }

.btn-submit {
  width: 180px;
  height: 40px;
  margin-top: 5%;
  color: #fff;
  border-radius: 6px;
  background-color: #0e76b7;
}

  .btn-submit:hover {
    color: #fff;
  }

.colored {
  max-width: 220px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #0e76b7;
  text-shadow: none;
}

.error-label {
  background-color: #d9135c;
  color: white;
  padding: 3px 15px 3px 15px;
  margin-top: -5px;
  float: left;
  border-radius: 6px;
  display: none;
}

.div.text-center {
  margin-bottom: 0px;
}

.visible-exit, .visible-msg, .visible-form {
  opacity: 1 !important;
}

.answer-input {
  display: inherit;
  border-radius: 6px;
  border: 2px solid #ccc;
  width: 230px;
  height: 100px;
  max-height: 250px;
}

.hidden-form {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.success-msg {
  display: none;
  min-height: 80px;
  min-width: 230px;
}

.feedback {
  opacity: 1;
  position: fixed;
  bottom: 0;
  right: 10vw;
  transition: opacity 2s ease;
}

.feedback-marking-bar:hover {
  color: #fff;
}

#success-message {
  text-align: center;
  position: relative;
  color: #0e76b7;
  display: none;
}

  #success-message #thanks {
    font-size: 18px;
    text-shadow: none;
  }

  #success-message #message {
    font-size: 13px;
    text-shadow: none;
  }

img {
  margin-right: 5px;
}

.star-select {
  content: url(../../../assets/icons/SVG/star/star_yellow.svg);
}

.star {
  content: url(../../../assets/icons/SVG/star/star_white.svg);
}

.inv {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.tool-img {
  width: 2.5rem;
  height: 2.5rem;
}

label:nth-of-type(1) .smile, .smile1s1 {
  content: url(../../../assets/icons/SVG/smile_grey/smile_1_grey.svg);
}

label:nth-of-type(2) .smile, .smile2s1 {
  content: url(../../../assets/icons/SVG/smile_grey/smile_2_grey.svg);
}

label:nth-of-type(3) .smile, .smile3s1 {
  content: url(../../../assets/icons/SVG/smile_grey/smile_3_grey.svg);
}

label:nth-of-type(4) .smile, .smile4s1 {
  content: url(../../../assets/icons/SVG/smile_grey/smile_4_grey.svg);
}

label:nth-of-type(5) .smile, .smile5s1 {
  content: url(../../../assets/icons/SVG/smile_grey/smile_5_grey.svg);
}

label:nth-of-type(1) .smile:hover, .smile1s2 {
  content: url(../../../assets/icons/SVG/smile_color/smile_1.svg);
}

label:nth-of-type(2) .smile:hover, .smile2s2 {
  content: url(../../../assets/icons/SVG/smile_color/smile_2.svg);
}

label:nth-of-type(3) .smile:hover, .smile3s2 {
  content: url(../../../assets/icons/SVG/smile_color/smile_3.svg);
}

label:nth-of-type(4) .smile:hover, .smile4s2 {
  content: url(../../../assets/icons/SVG/smile_color/smile_4.svg);
}

label:nth-of-type(5) .smile:hover, .smile5s2 {
  content: url(../../../assets/icons/SVG/smile_color/smile_5.svg);
}

label:nth-of-type(1) .inv:checked + .smile, .smile1s3 {
  content: url(../../../assets/icons/SVG/smile_color/smile_1.svg);
}

label:nth-of-type(2) .inv:checked + .smile, .smile2s3 {
  content: url(../../../assets/icons/SVG/smile_color/smile_2.svg);
}

label:nth-of-type(3) .inv:checked + .smile, .smile3s3 {
  content: url(../../../assets/icons/SVG/smile_color/smile_3.svg);
}

label:nth-of-type(4) .inv:checked + .smile, .smile4s3 {
  content: url(../../../assets/icons/SVG/smile_color/smile_4.svg);
}

label:nth-of-type(5) .inv:checked + .smile, .smile5s3 {
  content: url(../../../assets/icons/SVG/smile_color/smile_5.svg);
}

label:nth-of-type(1) .number, .number1s1 {
  content: url(../../../assets/icons/SVG/number/tile_1.svg);
}

label:nth-of-type(2) .number, .number2s1 {
  content: url(../../../assets/icons/SVG/number/tile_2.svg);
}

label:nth-of-type(3) .number, .number3s1 {
  content: url(../../../assets/icons/SVG/number/tile_3.svg);
}

label:nth-of-type(4) .number, .number4s1 {
  content: url(../../../assets/icons/SVG/number/tile_4.svg);
}

label:nth-of-type(5) .number, .number5s1 {
  content: url(../../../assets/icons/SVG/number/tile_5.svg);
}

label:nth-of-type(1) .number:hover, .number1s2 {
  content: url(../../../assets/icons/SVG/number_hover/tile_1_grey.svg);
}

label:nth-of-type(2) .number:hover, .number2s2 {
  content: url(../../../assets/icons/SVG/number_hover/tile_2_grey.svg);
}

label:nth-of-type(3) .number:hover, .number3s2 {
  content: url(../../../assets/icons/SVG/number_hover/tile_3_grey.svg);
}

label:nth-of-type(4) .number:hover, .number4s2 {
  content: url(../../../assets/icons/SVG/number_hover/tile_4_grey.svg);
}

label:nth-of-type(5) .number:hover, .number5s2 {
  content: url(../../../assets/icons/SVG/number_hover/tile_5_grey.svg);
}

label:nth-of-type(1) .inv:checked + .number, .number1s3 {
  content: url(../../../assets/icons/SVG/number_select/tile_1_blue.svg);
}

label:nth-of-type(2) .inv:checked + .number, .number2s3 {
  content: url(../../../assets/icons/SVG/number_select/tile_2_blue.svg);
}

label:nth-of-type(3) .inv:checked + .number, .number3s3 {
  content: url(../../../assets/icons/SVG/number_select/tile_3_blue.svg);
}

label:nth-of-type(4) .inv:checked + .number, .number4s3 {
  content: url(../../../assets/icons/SVG/number_select/tile_4_blue.svg);
}

label:nth-of-type(5) .inv:checked + .number, .number5s3 {
  content: url(../../../assets/icons/SVG/number_select/tile_5_blue.svg);
}