<div class="container-fluid">
    <div class="row">
      <nav class="col-lg-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <div>
            <button class="tieto-button submit btn btn-lg btn-primary btn-block" type="submit" routerLink="" routerLinkActive="active">Generate tracking code</button>
          </div>
        </div>
      </nav>
      <main role="main" class="col-lg-9 ml-sm-auto col-lg-9 main-wrapper">
        <div class="main-content">
          <div class="row">
            <div class="col-3 title">
              Dashboard
            </div>
            <div class="col-3 tracking-code">
              <a id="survey-action">
                <img id="survey-icon" src="../../assets/img/tracking-code.svg">
                <span id="action-text">
                  Tracking code
                </span>
              </a>
            </div>
            <div class="col-3 delete">
              <a id="survey-action">
                <img id="survey-icon" src="../../assets/img/recycle-bin.svg">
                <span id="action-text">
                  Delete
                </span>
              </a>
            </div>
          </div>
          <p class="message">Here you can find your own surveys.</p>
          <div class="new-survey">
            <a id="new-survey-action">
                <img id="new-survey-icon" src="../../assets/img/add-new.svg">
                <span id="action-text">
                  Create new survey
                </span>
              </a>
          </div>
        </div>
      </main>
    </div>
  </div>