<div class="container-fluid">
    <div class="row">
      <nav class="col-lg-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <div>
            <button class="tieto-button submit btn btn-lg btn-block">Generate tracking code</button>
          </div>
          <div class="row sidebar-page">
              List of pages
          </div>
          <hr>
          <div class="row sidebar-page-item">
            <ul>
              <li *ngFor="let page of pages"> {{ page }}</li>
            </ul>
          </div>
          <div class="row settings">
            <a id="settings-link" href="#">
              <img id="settings-cog" src="../../assets/img/cog.svg" alt="Settings">
              <span id="settings-cog-text">Settings</span>
            </a>
          </div>
        </div>
      </nav>
      <main role="main" class="col-lg-9 ml-sm-auto col-lg-9 main-wrapper">
        <div class="main-content">
          <div class="row">
            <div class="col-3 title">
              Dashboard
            </div>
            <div class="col-3 tracking-code">
              Tracking code
            </div>
            <div class="col-3 delete">
              Delete
            </div>
          </div>
          <p class="message">Here you can find your own surveys.</p>
        </div>
      </main>
    </div>
  </div>