<div class="container-fluid">
    <div class="row">
      <nav class="col-lg-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <div>
            <button class="tieto-button submit btn btn-lg btn-primary btn-block" type="submit" routerLink="" routerLinkActive="active">Generate tracking code</button>
          </div>
        </div>
      </nav>
      <main role="main" class="col-lg-9 ml-sm-auto col-lg-9 main-wrapper">
        <div class="main-content">
          <div class="row">
            <div class="col-3 title">
              Dashboard
            </div>
            <div class="col-3 tracking-code">
              Tracking code
            </div>
            <div class="col-3 delete">
              Delete
            </div>
          </div>
          <p class="message">Here you can find your own surveys.</p>
        </div>
      </main>
    </div>
  </div>