.container-fluid {
  &.dashboard {
    padding: 0;
    height: 100%;
  }
}

.row {
  &.dashboard {
    margin: 0;
  }
}

nav {
  &.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    z-index: -1;
    background-color: white;
    border-right: 1px solid #DDDDDD;
  }
  & > div.sidebar-sticky {
    padding: 150px 40px 0 40px;
  }
}

main {
  &.main-wrapper {
    padding-top: 3.125rem;
    padding-left: 3.5rem;
    & div {
      &.main-content {
        & div {
          &.row {
            & div {
              &.title {
                // margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                font-size: 1.75rem;
                font-weight: 700;
              }
              &.tracking-code, &.delete {
                color: #0E76B7;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding-bottom: .125rem;
              }
            }
          }
        }
        & p {
          &.message {
            margin-top: 1rem;
            font-size: 1.25rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}