################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TietoSummerAcademyApp/.vs/TietoSummerAcademyApp/v16
/TietoSummerAcademyApp/.vs/TietoSummerAcademyApp/config
/.vs/slnx.sqlite
/.vs/SummerAcademy2019/config/applicationhost.config
/.vs/SummerAcademy2019/v16/.suo
