@import '~@angular/material/theming';

@include mat-core();

$tieto-blue: (
  50 : #e2eff6,
  100 : #b7d6e9,
  200 : #87bbdb,
  300 : #569fcd,
  400 : #328bc2,
  500 : #0e76b7,
  600 : #0c6eb0,
  700 : #0a63a7,
  800 : #08599f,
  900 : #044690,
  A100 : #bcd8ff,
  A200 : #89baff,
  A400 : #569cff,
  A700 : #3c8dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$tieto-theme-primary: mat-palette($tieto-blue);
$tieto-theme-accent: mat-palette($mat-indigo);
$tieto-theme-warn: mat-palette($mat-red);

$tieto-theme: mat-light-theme($tieto-theme-primary, $tieto-theme-accent, $tieto-theme-warn);

@include angular-material-theme($tieto-theme);