$cardHeight: 100%;
$buttonHeight: 220px;
$calculatedPosition: 24px;

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  float: right;
}

.feedback {
  top: 30vh;
  right: 0;
  &-marking-bar {
    display: inline-block;
    &-button {
      background-image: url(../../assets/img/light-bulb-right.svg);
      background-position: bottom 25px center;
      height: $buttonHeight;
      width: 40px;
      float: right;
      & span {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 16px;
      }
    }
  }
}

.feedback-marking-bar{
  position: relative;
  top: $calculatedPosition;
}


.card {
  border-right-width: 0;
  border-radius: 0 0 0 12px;
  height: $cardHeight;
  width: 300px;
  min-height: $buttonHeight + 10px;
}

.collapse {
  float: right;
}

.colored {
  margin-left: 5%;
}


.btn {
  &#marking-bar {
    border-radius: 15px 0 0 15px;
  }

  &-submit {
    margin-right: 5%;
  }
}

.transition {
  &-exit {
    opacity: 0;
    transition: .3s ease-in-out
  }
  &-msg {
    opacity: 0;
    transition: 1s ease-in-out;
  }
  &-form {
    opacity: 0;
    transition: 1s ease-in-out;
  }
}

.visible {
  &-exit {
    opacity: 1 !important;
    display: block;
  }
  &-form {
    opacity: 1 !important;
    display: block;
  }
  &-msg {
    opacity: 1 !important;
    display: block;
  }
}

#success-message {
  text-align: center;
  position: relative;
  padding-top: 25%;
  & div {
    &#thanks {
      font-size: 18px;
    }
    &#message {
      font-size: 13px;
    }
  }
  display: none;
}