<div class="wrapper">
  <div class="row">
    <div class="information-feedback col-xl-12">
      <h1 class="information-feedback-header">New page</h1>
      <div class="information-feedback-information">
        <p>Here you can add a new page to use Tieto Feedback Tool on.</p>
        <p>{{ 'tracking-code-desc2' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="website-form">
    <form id="website-form" #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="onSubmit(f);false" novalidate>
      <div class="domain-wrapper">
        <p id="input-heading">Page domain</p>
        <textarea class="domain-input" name="new-domain" ngModel required #first="ngModel" id="domain-area"></textarea>
        <div class="transition-msg" id="error-message">
          <div class="error-label" id="need-domain">
            {{ 'question-required' | translate }}
          </div>
        </div>
      </div>
      <div class="nameinput-wrapper">
        <p id="input-heading">Page name</p>
        <textarea class="name-input" name="new-domain-name" ngModel required #first="ngModel" id="domain-name-area"></textarea>
        <div class="transition-msg" id="error-message">
          <div class="error-label" id="need-name">
            {{ 'question-required' | translate }}
          </div>
        </div>
      </div>
    </form>
    <button form="website-form" class="tieto-button submit">{{ 'submit' | translate }}</button>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="tracking-code-content" id="text-copy" #trackingCode>
        <pre>
          {{ userSideScript }}
        </pre>
      </div>
      <button class="tieto-button submit float-right" (click)="copyScript($event.target)">{{ 'copy' | translate }}</button>
    </div>
  </div>
</div>