<div class="feedback">
  <div (click)="toggleVisibility()" class="feedback-marking-bar">
    <button class="btn feedback-marking-bar-button" id="marking-bar" type="button" data-toggle="collapse" data-target="#window-content" aria-expanded="false" aria-controls="collapseExample">
      Leave feedback
    </button>
  </div>
  <div class="collapse feedback-window" id="window-content">
    <div (click)="toggleVisibility()" [class.visible-exit]="buttonVisibility" class="collapse-exit transition-exit">
      <button role="button" class="btn-exit" data-toggle="collapse" data-target="#window-content" aria-expanded="false">
      </button>
    </div>
    <div class="card card-body">
      <form class="transition-form" [class.visible-form]="formVisibility" id="answer-body" #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown.enter)="onSubmit(form);false" novalidate>
        <p class="colored align-self-center">{{question}}</p>
        <div class="text-center">
          <textarea name="new-answer" ngModel required #first="ngModel" class="answer-input align-self-center"></textarea>
        </div>
        <div class="text-right">
          <button class="btn btn-submit align-self-end" (click)="changeHtmlContent()">Send</button>
        </div>
      </form>
      <div class="transition-msg" id="success-message" [class.visible-msg]="messageVisibility">
          <div id="thanks">
            Thank you!
          </div>
          <div id="message">
            Your feedback is really important to us!
          </div>
      </div>
    </div>
  </div>
</div>