.feedback {
  bottom: 0;
  right: 10vw;

  &-marking-bar {
    &-button {
      background-image: url(../../assets/img/light-bulb.svg);
      background-position: center left 25px;
      height: 40px;
      width: 220px;
      font-size:16px;
    }
  }
}

.card {
  border-bottom-style: none;
  border-radius: 12px 0 0 0;
  width: 100%;
}

.collapsing {
  overflow: visible;
}

.btn {
  &-exit {
    margin-top: 14px;
  }
}

.transition {
  &-exit {
    opacity: 0;
    transition: .3s ease-in-out
  }
  &-msg {
    opacity: 0;
    transition: 1s ease-in-out;
  }
  &-form {
    opacity: 0;
    transition: 1s ease-in-out;
  }
}

.visible {
  &-exit {
    opacity: 1 !important;
    display: block;
  }
  &-form {
    opacity: 1 !important;
    display: block;
  }
  &-msg {
    opacity: 1 !important;
    display: block;
  }
}

#success-message {
  vertical-align: middle;
  text-align: center;
  & div {
    &#thanks {
      font-size: 18px;
    }
    &#message {
      font-size: 13px;
    }
  }
  display: none;
}