<div class="display-data">
  <div class="navigation-item col-xl-12">
    <a class="navigation-back" routerLink="/">
      <img src="../../assets/img/round-reply-24px.svg" />
    </a>
  </div>
  <div class="information-question">
    <h1 class="information-question-header">{{questionWithAnswer.name}}</h1>
    <div class="information-question-information">
      <p>{{ 'display-desc' | translate }}</p>
      <div class="question-iteration" *ngFor="let question of questionWithAnswer.questions">
        <div class="information-question-information-item" *ngIf="question.id==id">
          <p>{{ question.questionText }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- barChart -->
  <div class="container chart-style">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            style="height:20rem; width:100rem"
            >
    </canvas>
  </div>
  <!---->
  <div class="display-data-table">
    <table datatable class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ 'date' | translate }}</th>
          <th scope="col">{{ 'reaction' | translate }}</th>
          <th scope="col">{{ 'response' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let answer of answers; let i=index">
          <tr *ngIf="i>=(activeSite-1)*resultsPerSite && i<activeSite*resultsPerSite">
            <td scope="row">{{answer.submitDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{answer.rating}}</td>
            <td>{{answer.answer}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="foot">
      <div *ngIf="answers.length !=0 " class="bolded-count">
        <ng-container *ngIf="activeSite*resultsPerSite<answers.length; else greater">{{ activeSite*resultsPerSite }}</ng-container>
        <ng-template #greater>{{ answers.length }}</ng-template>
        /
        {{ answers.length }}
      </div>

      <nav class="paging-nav" aria-label="..." *ngIf="pageCount != 0">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': activeSite==1}">
            <a class="page-link" (click)="setActiveSite(activeSite-1)">{{ 'previous' | translate }}</a>
          </li>
          <li *ngFor="let number of pageArray" class="page-item" [ngClass]="{'active': activeSite==number}">
            <a class="page-link" (click)="setActiveSite(number)">{{ number }}</a>
          </li>
          <li class="page-item"[ngClass]="{'disabled': activeSite==pageCount}">
            <a class="page-link" (click)="setActiveSite(activeSite+1)">{{ 'next' | translate }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>