.information-question {
  display: flex;
  flex-direction: column;
  padding-top: 6.25rem;
  padding-left: 3.125rem;
  &-header {
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    color: #333333;
  }
  &-information {
    margin-top: 0.5rem;
    text-align: left;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #333333;
    &-item {
      font-size: 0.875rem;
      line-height: 0.3125rem;
      & > p {
        & > strong {
          font-weight: 500;
        }
      }
    }
  }
}

.information-reactions {
  display: flex;
  flex-direction: column;
  padding-left: 3.125rem;
  margin-top: 1rem;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: #333333;
}

.display-chart{
  padding-left: 3.125rem;
  display: flex;
  float: left;
  height: 20rem;
}

.data-filtering {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  border: 1px solid #DDDDDD;
  justify-content: space-between;
  &-info {
    padding: 15px;
  }
  &-collapse-button {
    float: right;
    padding: 15px;
  }
}

.data-filtering-option {
  margin-left: 50px;
  margin-right: 50px;
}

.display-data-table {
  padding-top: 24rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.visual-rating {
  height: 14px;
}

.table-striped {
  width: 100%;
  border-spacing: 0;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #dadada;
  padding-top: 70px;
  th {
    border: 1px solid #dadada;
    font-weight: normal;
  }
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white;
 }

 .table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #EEEEEE;
 }

.table-striped > thead {
  background-color: #EEEEEE;
}

.paging-nav {
  cursor: pointer;
  & ul {
    & li {
      &.page-item {
        &.disabled {
          cursor: default;
        }
      }
    }
  }
}

.page-item.active .page-link {
  color: #fff;
  background-color: #0E76B7;
  border-color: #0E76B7;
}

.pagination{
  float:right;
}

.bolded-count{
  float: left;
  font-weight: bold;
}