<div class="display-data">
  <div class="information-question">
    <h1 class="information-question-header">{{questionWithAnswer.name}}</h1>
    <div class="information-question-information">
      <div class="question-iteration" *ngFor="let question of questionWithAnswer.questions">
        <div class="information-question-information-item" *ngIf="question.id==id">
          <p>{{ 'display-desc' | translate }}  <strong>{{ question.questionText }}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="information-reactions">
    <p>Reactions:</p>
  </div>
  <!-- barChart -->
  <div class="container display-chart col-xl-7">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            >
    </canvas>
  </div>
  <!---->
  <div class="display-data-table">
    <table datatable class="table table-striped col-xl-9">
      <thead>
        <tr class="m-0">
            <th class="w-10">{{ 'date' | translate }}</th>
            <th class="w-15">{{ 'reaction' | translate }}</th>
            <th class="w-75">{{ 'response' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let answer of answers; let i=index">
          <tr *ngIf="i>=(activeSite-1)*resultsPerSite && i<activeSite*resultsPerSite">
            <td>{{answer.submitDate | date: 'yyyy-MM-dd' }}</td>
            <td>
              <ng-container *ngFor="let questionType of questionWithAnswer.questions">
                <ng-container *ngIf="questionType.id==id">
                  <ng-container *ngIf="questionType.ratingType == 'Stars'">
                      <ng-container *ngFor="let item of amountRating; let star=index">
                          <ng-container *ngIf="star<answer.rating">
                            <img class="star-amount" src="../../assets/icons/PNG/star/star_yellow.png" alt="">
                          </ng-container>
                          <ng-container *ngIf="star>=answer.rating">
                            <img class="star-amount" src="../../assets/icons/PNG/star/star_white.png" alt="">
                          </ng-container>
                        </ng-container>
                  </ng-container>
                  <ng-container *ngIf="questionType.ratingType == 'Emotions'">
                      <ng-container *ngFor="let item of amountRating; let star=index">
                          <ng-container *ngIf="star<answer.rating">
                            <img class="star-amount" src="../../assets/icons/PNG/smile_color/smile_5.png" alt="">
                          </ng-container>
                          <ng-container *ngIf="star>=answer.rating">
                          </ng-container>
                        </ng-container>
                  </ng-container>
                  <ng-container *ngIf="questionType.ratingType == 'Numbers'">
                      <ng-container *ngFor="let item of amountRating; let star=index">
                          <ng-container *ngIf="star<answer.rating">
                            <img class="star-amount" src="../../assets/icons/PNG/number/tile_4.png" alt="">
                          </ng-container>
                          <ng-container *ngIf="star>=answer.rating">
                            <img class="star-amount" src="../../assets/icons/PNG/number/tile_2.png" alt="">
                          </ng-container>
                        </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>

              <!-- <ng-container *ngFor="let item of amountRating; let star=index">
                <ng-container *ngIf="star<answer.rating">
                  <img class="star-amount" src="../../assets/icons/PNG/star/star_yellow.png" alt="">
                </ng-container>
                <ng-container *ngIf="star>=answer.rating">
                  <img class="star-amount" src="../../assets/icons/PNG/star/star_white.png" alt="">
                </ng-container>
              </ng-container> -->
            </td>
            <td>{{answer.answer}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="foot">
      <div *ngIf="answers.length !=0 " class="bolded-count">
        <ng-container *ngIf="activeSite*resultsPerSite<answers.length; else greater">{{ activeSite*resultsPerSite }}</ng-container>
        <ng-template #greater>{{ answers.length }}</ng-template>
        /
        {{ answers.length }}
      </div>

      <nav class="paging-nav col-xl-9" aria-label="..." *ngIf="pageCount != 0">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': activeSite==1}">
            <a class="page-link" (click)="setActiveSite(activeSite-1)">{{ 'previous' | translate }}</a>
          </li>
          <li *ngFor="let number of pageArray" class="page-item" [ngClass]="{'active': activeSite==number}">
            <a class="page-link" (click)="setActiveSite(number)">{{ number }}</a>
          </li>
          <li class="page-item"[ngClass]="{'disabled': activeSite==pageCount}">
            <a class="page-link" (click)="setActiveSite(activeSite+1)">{{ 'next' | translate }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>