<div class="wraper">
  <div class="row">
    <div class="information-feedback col-xl-12">
      <h1 class="information-feedback-header"> Tracking Code Generator</h1>
      <div class="information-feedback-information">
        <p>Your “tracking code” is a code snippet that needs to be installed on your site for you to be able to use Tieto Feedback Tool.</p>
        <p>Copy and paste the code snippet into the <strong>&lt;head&gt;</strong> tag on every page where you wish to track visitors and collect feedback.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="tracking-code-content" id="text-copy" #trackingCode>
        <pre>
          {{ userSideScript }}
        </pre>
      </div>
      <button class="tieto-button submit float-right" (click)="copyScript($event.target)">Copy</button>
    </div>
  </div>
</div>