<div class="wraper">
  <div class="row">
    <div class="information-feedback col-xl-12">
      <h1 class="information-feedback-header">{{ 'tracking-code-generator' | translate }}</h1>
      <div class="information-feedback-information">
        <p>{{ 'tracking-code-desc1' | translate }}</p>
        <p>{{ 'tracking-code-desc2' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="tracking-code-content" id="text-copy" #trackingCode>
        <pre>
          {{ userSideScript }}
        </pre>
      </div>
      <button class="tieto-button submit float-right" (click)="copyScript($event.target)">{{ 'copy' | translate }}</button>
    </div>
  </div>
</div>