.display-data {
  &-card {
    background: rgba(192, 192, 192, 0.733);
  }
}

.navigation-item {
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  opacity: 1;
  & > a {
    & > img {
      padding: 8px;
    }
  }
}

.information-question {
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-left: 50px;
  &-header {
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    color: #333333;
  }
  &-information {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    color: #333333;
    &-item {
      font-size: 14px;
      line-height: 5px;
    }
  }
}