<div class="display-data">
  <div class="navigation-item">
    <a class="navigation-back" routerLink="/">
      <img src="../../assets/img/round-reply-24px.svg" />
    </a>
  </div>
  <div class="information-question">
    <h1 class="information-question-header">{{questionWithAnswer.surveys[1].name}}</h1>
    <div class="information-question-information">
      <p>Here you can find responses and their details for questions:</p>
      <div class="information-question-information-item" *ngFor="let question of questionWithAnswer.surveys[1].surveyPuzzles">
        <p>{{ question.puzzleQuestion }}</p>
      </div>
    </div>
  </div>
  <!--
  <div class="data-filtering">
    <div class="data-filtering-info">
      The list is filtered...
    </div>
    <div class="data-filtering-collapse-button">
      <a data-toggle="collapse" href="#filter" role="button" aria-expanded="false">
        Link with href
      </a>
    </div>
  </div>
  <div class="collapse" id="filter">
    <div class="data-filtering-option">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
  -->
  <div class="display-data-table">
    <table datatable class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Reaction</th>
          <th scope="col">Response</th>
          <th scope="col">OS</th>
          <th scope="col">Browser</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let answer of answers; let i=index">
          <tr *ngIf="i>=(activeSite-1)*resultsPerSite && i<activeSite*resultsPerSite">
            <td scope="row">{{answer.submitDate | date: "short"}}</td>
            <td><img src="../../assets/img/stars.svg" class="visual-rating"></td>
            <td>{{answer.answer}}</td>
            <td> Windows</td>
            <td> Chrome </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="foot">
      <div *ngIf="answers.length !=0 " class="bolded-count">
        <ng-container *ngIf="activeSite*resultsPerSite<answers.length; else greater">{{ activeSite*resultsPerSite }}</ng-container>
        <ng-template #greater>{{ answers.length }}</ng-template>
        /
        {{ answers.length }}
      </div>

      <nav class="paging-nav" aria-label="..." *ngIf="pageCount != 0">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': activeSite==1}">
            <a class="page-link" (click)="setActiveSite(activeSite-1)">Previous</a>
          </li>
          <li *ngFor="let number of pageArray" class="page-item" [ngClass]="{'active': activeSite==number}">
            <a class="page-link" (click)="setActiveSite(number)">{{ number }}</a>
          </li>
          <li class="page-item"[ngClass]="{'disabled': activeSite==pageCount}">
            <a class="page-link" (click)="setActiveSite(activeSite+1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
