<div class="display-data">
  <div class="navigation-item">
    <a class="navigation-back" routerLink="/" >
      <img src="../../assets/img/round-reply-24px.svg" />
    </a>
  </div>
  <div class="information-question">
    <h1 class="information-question-header">Citizen Service</h1>
    <div class="information-question-information">
      <p>Here you can find responses and their details for questions:</p>
      <div class="information-question-information-item">
        <p>1. What's up?</p>
        <p>2. You good, bro?</p>
      </div>
    </div>
  </div>
    <table mat-table [dataSource]="dataSource">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element }} </td>
      </ng-container>

      <!-- Reaction Column -->
      <ng-container matColumnDef="reaction">
        <th mat-header-cell *matHeaderCellDef> Reaction </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Response Column -->
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef> Response </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Os Column -->
      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef> OS </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Browser Column -->
      <ng-container matColumnDef="browser">
        <th mat-header-cell *matHeaderCellDef> Browser </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
