
  <div class="feedback">
    <div [@visibilityChanged]="visibility" class="collapse-exit">
      <button (click)="toggleVisibility()" role="button" class="exit-button" data-toggle="collapse" data-target="#windowContent" aria-expanded="false">
      </button>
    </div>
    <div id="windowContent" class="width collapse" aria-expanded="false">

      <div class="card card-body well">
        <form id="question-body" #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="onSubmit(f);false" novalidate>
          <p class="colored align-self-center">{{question}}</p>
          <div class="text-center">
            <textarea name="new-question" ngModel required #first="ngModel" class="align-self-center"></textarea>
          </div>
          <div class="text-right">
            <button class="btn submit-btn align-self-end">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="feedback-marking-bar">
      <button (click)="toggleVisibility()" role="button" class="btn feedback-marking-bar-button " id="marking-bar" data-toggle="collapse" data-target="#windowContent" aria-expanded="false">
        <span>
          Leave feedback
        </span>
      </button>
    </div>
  </div>