$cardHeight: 100%;
$buttonHeight: 220px;
$calculatedPosition: 24px;

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  float: right;
}

.feedback {
  position: fixed;
  top: 30vh;
  right: 0;
  &-marking-bar {
    display: inline-block;
    &-button-side {
      background-image: url(../../assets/img/light-bulb-right.svg);
      background-repeat: no-repeat;
      background-position: bottom 25px center;
      color: #fff;
      background-color: #0E76B7;
      height: $buttonHeight;
      width: 40px;
      padding: 0;
      float: right;
      & span {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 16px;
      }
    }
  }
}

.feedback-marking-bar{
  position: relative;
  top: $calculatedPosition;
}

.btn {
  &#marking-bar {
    &:focus {
      box-shadow: none;
    }
    &:hover {
      box-shadow: -1px 0 10px 0 #878787;
    }
    background-color: #0E76B7;
    border-style: none;
    float: right;
    border-radius: 15px 0 0 15px;
  }
}

.card-side {
  border-style: solid;
  border-width: 2px;
  border-right-width: 0;
  border-color: #0E76B7;
  border-radius: 0 0 0 12px;
  height: $cardHeight;
  width: 300px;
  min-height: $buttonHeight + 10px;
}

.collapse {
  float: right;
}

.colored {
  margin-left:5%;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #0E76B7;
}

.answer-input-side {
  border-radius: 6px;
  border: 2px solid #CCCCCC;
  width: 230px;
  height: 100px;
  max-height: 250px;
}

.btn {
  &-exit-side {
    display: inline-block;
    margin-top: -22px;
    width:20px;
    height:20px;
    border-style: solid;
    border-width: 3px;
    border-color: #0E76B7;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%),
    -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color:#0E76B7;
    outline: transparent;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0 0 5px 1px #878787;
    }
    &:focus {
      box-shadow: 0 0 5px 1px #878787;
    }
  }
  &-submit-side {
    margin-right: 5%;
    margin-top: 5%;
    right: 0;
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    background-color: #0E76B7;
  }
}
