<nav class="navbar navbar-expand-lg tieto-jar-header">
  <div class="container">
    <ul class="navbar-nav tieto-jar-header-list">
      <li class="nav-item tieto-jar-header-list-item">
        <a class="nav-link tieto-jar-header-list-item-link" id="new-question" routerLink="new-question" routerLinkActive="active">Add new question</a>
      </li>
      <li class="tieto-jar-header-list-item">
        <a class="nav-link tieto-jar-header-list-item-link" id="marking-bar" routerLink="marking-bar" routerLinkActive="active">Marking bar bottom</a>
      </li>
      <li class="tieto-jar-header-list-item">
          <a class="nav-link tieto-jar-header-list-item-link" id="marking-bar-side" routerLink="marking-bar-side" routerLinkActive="active">Marking bar side</a>
      </li>
      <li class="tieto-jar-header-list-item">
        <a class="nav-link tieto-jar-header-list-item-link" id="display-data" routerLink="display-data" routerLinkActive="active">Display data</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>