<div class="navigation-item">
  <div class="float-left">
  <a routerLink="/">
    <img width="50" src="../assets/img/ninjakangoogeometric.png" alt="">
  </a>
  </div>
  <div class="navigation-item-button float-right">
    <div class="dropdown">
      <button [ngStyle]="{'background-image': image}" class="btn language btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selectedLanguage }}
      </button>
      <div class="dropdown-menu language" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item language" id="suomi" (click)="setLang('fi', 'Suomi')">Suomi</a>
        <a class="dropdown-item language" id="english" (click)="setLang('en', 'English')">English</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>