.feedback {
  position: fixed;
  bottom: 0;
  right: 0;
  &-marking-bar {
    &-button {
      width: 300px;
      padding: 0;
    }
  }
}

.btn-primary {
  &:focus {
    box-shadow: none;
  }
}
.card {
  height: 30vh;
}
