.feedback {
  bottom: 0;
  right: 10vw;

  &-marking-bar {
    &-button {
      background-image: url(../../assets/img/light-bulb.svg);
      background-position: center left 25px;
      height: 40px;
      width: 220px;
      font-size:16px;
    }
  }
}

.card {
  position: relative;
  border-bottom-style: none;
  border-radius: 12px 0 0 0;
  width: 100%;
}

.collapsing {
  overflow: visible;
}

.btn {
  &-exit {
    margin-top: 14px;
  }
}

.visible {
  &-exit, &-msg, &-form {
    opacity: 1 !important;
  }
}

.hidden {
  &-form {
    opacity: 0;
    transition: .5s ease-in-out;
  }
}

.transition {
  &-exit {
    opacity: 0;
    transition: .3s ease-in-out
  }
  &-msg {
    opacity: 0;
    transition: .5s ease-in-out
  }
  &-form {
    opacity: 0;
    transition: .5s ease-in-out;
    // display: none;
  }
}

.success-msg {
  position: absolute;
  display: flex;
}