<div class="feedback">
  <div class="feedback-marking-bar">
    <button class="btn feedback-marking-bar-button" id="marking-bar" type="button" data-toggle="collapse" data-target="#windowContent" aria-expanded="false" aria-controls="collapseExample" (click)="toggleState()">
      Leave feedback
    </button>
  </div>
  <div class="collapse feedback-window" id="windowContent">
    <div class="card card-body well">
      <form id="question-body" #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="onSubmit(f);false" novalidate>
        <p class="colored align-self-center">{{question}}</p>
        <textarea name="new-question" ngModel required #first="ngModel" class="align-self-center"></textarea>
        <button class="btn submit-btn align-self-end">Send</button>
      </form>
    </div>
  </div>
</div>