.feedback {
  position: fixed;
  bottom: 0;
  right: 10vw;

  &-marking-bar {
    &-button {
      background-image: url(../../assets/img/light-bulb.svg);
      background-repeat: no-repeat;
      background-position: center left 25px;
      font-size: 14px;
      color: #fff;
      height: 30px;
      width: 180px;
      padding: 0;
    }
  }
}

.btn {
  &#marking-bar {
    &:focus {
      box-shadow: none;
    }

    &:hover {
      box-shadow: 0 0 10px 1px #878787;
      background-color: #249ce7;
    }

    background-color: #0E76B7;
    border-style: none;
    float: right;
    border-radius: 15px 15px 0 0;
  }
}

.card {
  border-style: solid;
  border-width: 2px;
  border-color: #0E76B7;
  border-radius: 12px 0 0 0;
  height: 30vh;
  width: 300px;
}

.collapsing {
  overflow: visible;
}

textarea {
  border-radius: 6px;
  border: 2px solid #CCCCCC;
  width: 230px;
  height: 100px;
}

.colored {
  font-weight: 400;
  font-size: 14px;
  color: #0E76B7;
}

.submit-btn {
  margin-right: 5%;
  margin-top: 5%;
  right: 0;
  width: 180px;
  height: 40px;
  color: #fff;
  border-radius: 6px;
  background-color: #0E76B7;
}
