<div class="new-question-content">
  <div class="navigation-item">
    <a class="navigation-back" routerLink="/" >
      <img src="../../assets/img/round-reply-24px.svg" />
    </a>
  </div>
    <div class="information-question">
      <h1 class="information-question-header">Setup feedback tool.</h1>
      <div class="information-question-information">
        <p>Ask your site visitor about their opinion.</p>
      </div>
    </div>
    <div class="question-form">
      <h2>Question</h2>
      <form id="question-body" #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="onSubmit(f);false" novalidate>
        <textarea class="question-text" name="new-question" ngModel required #first="ngModel"></textarea>
      </form>
    </div>
</div>
<footer class="new-question-footer">
  <div class="new-question-footer-buttons">
      <button class="tieto-button cancel" routerLink="" routerLinkActive="active">Cancel</button>
      <button form="question-body" class="tieto-button submit">Submit</button>
  </div>
</footer>