<div class="new-question-content">
  <div class="head-box">
      <a class="navigation-back" routerLink="/" >
        <img src="../../assets/img/round-reply-24px.svg" />
      </a>
    </div>
      <div class="main-form">
        <div class="information-question">
          <div class="information-question-header">
            <h1>Setup feedback tool</h1>
          </div>
          <div class="information-question-information">
            <p>Ask your site visitor about their opinion.</p>
          </div>
        </div>
      </div>
      <div class="question-form">
        <h2>Question</h2>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <textarea class="question-text" name="new-question" ngModel required #first="ngModel" placeholder="Type here..."></textarea>
          <button class="submit">Submit</button>
          <button class="cancel" routerLink="" routerLinkActive="active">Cancel</button>
        </form>
      </div>
</div>
<footer class="new-question-footer">
FOOTER
</footer>



